* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Droid Serif', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}

a {
  text-decoration: none !important;
  transition: all 0s ease;
}

hr {
  border-top: 1px dotted rgb(108, 108, 108);
  margin-top: -4px;
  margin-bottom: 45px;
  margin-right: 65px;
}

li {
  list-style: none;
}


/* Navigation */

.navbar {
  margin-bottom: 0px;
  border-radius: 0px !important;
}

.navbar-header {
  text-align: center;
  width: 100%;
}

.tickerbutton {
  float: left;
  display: inline-block;
  margin: 7px 0px;
  background-color: grey;
}

.tickerbutton:hover {
  background-color: #aaa;
  border-color: none;
}

.hiddenticker {
  height: 40px;
  background-color: black;
  border-bottom: 1px solid black;
  width: 100%;
  transition: none;
  position: sticky;
}

#iFeatures {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  right: 0px;
  transition: none !important;
  overflow: hidden;

}
.ticker {
  transition: none !important;
  position: absolute;
  width: auto;
  top: 20%;
  bottom: 20%;
  overflow: hidden;
}

.ticker a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: white;
  transition: none !important;
  position: relative;
  top: 0;
  white-space: nowrap;
  padding-left: 340px;
  width: auto;
  color: white;
}

.navbar-brand {
  float: none;
  display: inline-block;
  padding: 0px !important;
  height: 0px !important;
  margin: 5px 0px;
  font-size: 2.6em;
  font-family: 'Droid Serif', serif;
  text-shadow: 2px 2px 3px black;
}

.brand-word {
  transition: all 0s ease;
}

.dropdown-menu li {
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #222222;
}

a.dropdown-toggle {
  padding: 10px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.caret {
  display: inline-block;
  margin-top: 22px;
  margin-right: 20px;
  color: white;
}


/*Front Page*/

.backgroundimage {
  background: url('../img/newspapersfit.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
  /*87 pres*/
}

.stage {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 75rem;
  margin: 80px auto 120px;
  padding: 25px 20px;
  text-align: center;
  color: black;
  background-color: rgba(240, 248, 255, .9);
  z-index: 1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.welcome {
  margin-bottom: 20px;
}

.linkholder {
  margin-top: 50px;
  left: 1000px;
}

.stagelinkword {
  font-size: 1.8em;
  padding: 24px 60px;
  margin-left: 44px;
  display: initial;
  text-decoration: none;
  transition: all 0s ease;
}

.circle {
  border-radius: 100%;
  width: 101px;
  height: 101px;
}

figure {
  margin: -2px !important;
}

.tint {
  position: relative;
  float: left;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px;
  bottom: 20px;
}

.tint:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  background: rgba(69, 62, 65, 0.4);
  border-radius: 150px;
}

.tint:hover {
  box-shadow: rgba(0, 0, 0, .5) 3px 5px 5px;
  z-index: 10;
}

.tint:hover:before {
  background: none;
}

.t2:before {
  background: rgba(69, 75, 91, 0.4);
}

.t3:before {
  background: rgba(79, 85, 69, 0.4);
}

.t4:before {
  background: rgba(205, 163, 75, 0.4);
}

.expand {
  transition: all .5s ease;
}

.expand:hover {
  transform: scale(1.2);
}


/* News Pages*/

.newscontent {
  background: url('../img/paperfibers2x.png');
}

.categoryHeader {
  font-family: 'Droid Serif', serif;
  font-size: 3.1em;
  font-weight: bold;
  padding: 25px 0px;
}

.newscol {
  margin-top: 0px;
}

.sourceHeader {
  font-family: 'Droid Serif', serif;
  font-size: 1.6em;
  font-weight: bold;
}

.thumbnail {
  margin-bottom: 4px;
  background: url('../img/scratchpaper.png');
  background-color: #f7f7f7;
  border: 1px solid #aaa !important;
}

.thumbnail:hover {
  transition: all .6s ease;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  background-color: #ededed;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 1px;
  padding-left: 1px;
}

.linkbtn {
  font-family: 'Droid Serif', serif;
}

.articleImage {
  max-width: 40% !important;
  height: 100%;
  transition: all 1s ease;
  vertical-align: middle;
  border: 5px solid black;
  margin: auto;
}

.articleImage:hover {
  max-width: 100% !important;
  display: inherit;
}

.articleTitle {
  font-family: 'Droid Serif', serif;
  font-size: 1.5em;
}

.articleTitle:hover {
  font-family: 'Droid Serif', serif;
  transition: all .1s ease;
  text-decoration: underline;
  color: #3572a3;
}

i {
  font-family: 'Open Sans', sans-serif;
}

.articleDescription {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.05em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: url('../img/paperfibers2x.png');
}

.poweredBy {
  margin-top: 20px;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 15px;
    margin-left: 0px;
  }
  .caret {
    margin-top: -10px;
    text-align: center;
  }
  .dropdown-menu li {
    display: block;
  }
  .dropdown-toggle {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .stage {
    margin-top: 0px;
    padding-bottom: 100px;
  }
  .stagelinkword {
    display: block;
    padding: 14px 60px;
  }
  .stagelinkspaces {
    display: none;
  }
  .tint {
    bottom: 54px;
  }
  .backgroundimage {
    height: 105vh;
  }
  @media (max-width: 991px) {
    .articleImage {
      max-width: 30% !important;
      float: none;
    }
    .articleImage:hover {
      max-width: 100% !important;
      display: inherit;
    }
  }
